@model BookReading.Models.IndexListView

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-striped table-bordered" style="margin-top: 16px">
    <thead>
    <tr>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Description</th>
        <th scope="col">Pages</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var book in Model.books)
    {
        <tr data="@book.Id" onclick="window.location.href='/Book/Details/' + this.getAttribute('data')">
            <td>@book.Title</td>
            <td>@book.Author</td>
            <td>@book.Description</td>
            <td>@book.Pages</td>
        </tr>
    } 
    </tbody>
</table>

<hr/>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        @foreach (int index in Enumerable.Range(Model.currentPage, 5))
        {
            <li class="page-item">
                @Html.ActionLink(index.ToString(), "List", new {currentPage = index}, new { @class = "page-link" })
            </li>
        } 
    </ul>
</nav>   
